@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie);

a.googleplay {
	position: absolute;
	bottom: 0;
	left: 0;
}

a.googleplay img {
	width: 48px;
}
/* media page */

.focused {
	z-index: 1000;
}

.status {
	position: absolute;
	bottom: 4px;
	right:8px;
	font-size:1.4em;
	color:#ccc;
	text-align:right;
}

.status a:link,
.status a:visited {
	font-size:0.7em;
	text-decoration:none;
	color:#555;
}
.status a:focus,
.status a:hover {
	color:#D30076;
	text-decoration:underline;
}

#display {
	clear:both;
	border:solid 1px #000;
	top: 0;
	bottom: 0;
	position: absolute;
	left: 0;
	right: 0;
	background-color: #E1E5F3;
	overflow:hidden;
	background-position: 80px 40px;
	background-image: url(wlm-logo-full.png);
	background-repeat: no-repeat;

}

#display .empty {
	font-size: 4em;
	text-align: center;
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	bottom: 0;
}

#buttons {
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	list-style: none;
	min-width:300px;
	margin:10px;
	position: absolute;
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
	min-width:300px;
	margin:10px;
	right: -250px;
	-webkit-transition: all 0.3s linear;
	z-index: 2000;
}

#buttons:hover {
	right: 0;
}
#buttons button {
	width:100%;
	opacity:0.9;
	border:1px solid gray;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background:#E1E5F3;
	margin-top:2px;
	margin-bottom:2px;
	padding:2px;
	transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-webkit-transition:background-color 0.5s;
}
#buttons button:disabled, #buttons button:hover {
	opacity:1;
	background:#BFC3CF;
	color:black;
}
#buttons button:disabled {
	font-weight:bold;
}

div {
	position:absolute;
}

div img{
	border-style:none;
}

/* polaroid styling */
div.polaroid {
	position:absolute;
	padding: 10px;
	box-shadow: 3px 3px 2px #EEE;
	background-color: white;
	font-family: 'Reenie Beanie', cursive;
	text-align: center;
	max-width: 380px;
}

div.polaroid img {
	max-width: 360px;
}

div.polaroid .caption {
	display: block;
	text-align: center;
	font-size: 2em;
	overflow: hidden;
	color: #aaa;
}

div.polaroid a {
	text-decoration: none;
	border-bottom:solid 3px transparent;
}
div.polaroid:hover {
	border-bottom:solid 3px #D30076;
}
div.polaroid img {
	border: solid 2px black;
	margin-bottom: 40px;
}

@media all and (max-width:400px) {
	div.polaroid {
		max-width: 100px;
		font-size: 1em;
	}

	div.polaroid img {
		max-width: 80px;
	}
}

@media all and (max-height:400px) {
	div.polaroid {
		font-size: 1em;
	}

	div.polaroid img {
		max-height: 80px;
	}
}
